/node_modules

/public/hot
/public/storage
/public/media
/public/plugins

/public/demo2
/public/demo3
/public/demo4
/public/demo5
/public/demo6
/public/demo7
/public/demo8
/public/demo9
/public/demo10
/public/demo11
/public/demo12
/public/demo13

/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
composer.lock
yarn.lock
package-lock.json
.idea/*
.idea/workspace.xml
.idea/blade.xml
.idea/laravel-idea.xml
.idea/modules.xml
.idea/nefes21.iml
.idea/php.xml
.idea/phpunit.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/laravel-idea-personal.xml
.idea/deployment.xml
data.ms/auth/data.mdb
data.ms/auth/lock.mdb
data.ms/indexes/9979ff69-a321-48e8-a30b-901f2df61d40/data.mdb
data.ms/indexes/9979ff69-a321-48e8-a30b-901f2df61d40/lock.mdb
data.ms/indexes/a3df3c42-ce56-4285-8fb1-cc90b505b815/data.mdb
data.ms/indexes/a3df3c42-ce56-4285-8fb1-cc90b505b815/lock.mdb
data.ms/indexes/da5cce9b-fc50-4479-99d5-1f9cd80e5b29/data.mdb
data.ms/indexes/da5cce9b-fc50-4479-99d5-1f9cd80e5b29/lock.mdb
data.ms/instance-uid
data.ms/tasks/data.mdb
data.ms/tasks/lock.mdb
data.ms/VERSION
meilisearch.exe
.idea/webServers.xml
.idea/symfony2.xml
.idea/sshConfigs.xml
.idea/phpspec.xml
.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
.idea/commandlinetools/Laravel_4_10_23__2_32_PM.xml
.idea/codeception.xml
.idea/commandlinetools/Laravel_25_06_2025_23_57.xml
.idea/nefes21.org.iml
public/.well-known
